@tailwind base;
@tailwind components;
@tailwind utilities;
@import "daisyui";

:root {
  background-color: #2b2e3b;
}

svg {
  width: 40px;
  height: 40px;
}

.oscilla:hover {
  animation: oscillate 600ms ease-in-out infinite;
}

@keyframes oscillate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
